.likebtn {
	height:100px;
	width:320px;
	border-radius: 15px;
	background-color: rgb(43, 150, 223); 
	border:0px;
	border-bottom:7px solid rgb(33, 126, 186);
	outline-style: none;
	color:white;
	font-size: 25px;
}

.btnclick {
	height:100px;
	width:320px;
	border-radius: 15px;
	background-color: rgb(43, 150, 223); 
	border:0px;
	outline-style: none;
	color:white;
	font-size: 25px;
}




